body {
	background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	cursor: none;
}

#time {
	float: left;
	text-align: center;
}

#clock {
	font-weight: normal;
	font-size: 100pt;
}

#date {
	font-weight: lighter;
	font-size: 25pt;
}

#weather #current img {
	width: 100px;
}