body {
	background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#time {
	float: left;
}

#clock {
	font-weight: normal;
	font-size: 100pt;
	text-align: center;
}

#date {
	font-weight: lighter;
	font-size: 25pt;
	text-align: center;
}
